<h2><%= current_user.first_name %>'s profile</h2>
<p><%= link_to "Sell clothes", new_item_path %></p>
<p><%= link_to "My movements", movements_path %></p>
<p><%= link_to "My items", user_items_path %></p>
