




 <div class="flex" style="display: flex;  margin-bottom: 35px; margin-left: 40px;">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
<h2><%= current_user.first_name %>'s profile</h2>

          </div>
        <ul class="list-group list-group-flush">

          <li class="list-group-item"><p><%= link_to "Sell clothes", new_item_path, class: "btn btn-primary mt-20px" %></p></li>
          <li class="list-group-item" ><p><%= link_to "My movements", movements_path, class: "btn btn-primary mt-20px" %></p></li>
          <li class="list-group-item" ><p><%= link_to "My items", class: "btn btn-primary mt-20px" %></p></li>

        </ul>
      </div>
    </div>
