
      <% @items.each do |item| %>
<div>
  <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4" >
    <div class="col">
        <div class="card">
          <div class="card-img-top">
            <%= cl_image_tag item.photo.key, height: 250, width: 300, crop: :fill %>
          </div>
          <div class="card-body" >
            <h5 class="card-title"><%= item.name %>, Price: $<%= item.price.floor(2) %></h5>
            <p class="btn"><%= link_to "See details", item_path(item.id)%></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
