<div class="index-header" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://t3.ftcdn.net/jpg/01/38/94/62/360_F_138946263_EtW7xPuHRJSfyl4rU2WeWmApJFYM0B84.jpg);">
  <div class="header">
    <h1>Sell your item</h1>
  </div>
    <div class="d-flex justify-content-center mt-3">
   <%= link_to "Back to profile", profile_path, class: "btn btn-ghost" %>
</div>




<%= render "form", item: @item %>
